<section>
  <article>
    <div class="alert columns twelve">
      <dl>
        <dt>Run Your First Sync</dt>
        <dd>You haven't run any syncs yet, click here to start syncing your shops.</dd>
      </dl>
      <%= link_to "Start A Sync", new_shop_sync_path, class: "button" %>
    </div>
  </article>
</section>

<h1 class="title">Recent Sync Reports</h1>
<br/>
<section>
  <article>
    <div class="card">
      <div class="overflow-container">
        <table class="results">
          <thead>
            <tr>
              <th>Exported From</th>
              <th>Imported To</th>
              <th>Started At</th>
              <th>Finished At</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @shop.shop_syncs.last(10).each do |sync| %>
              <tr>
                <td><%= sync.export_from_shop.shopify_domain&.remove(".myshopify.com") %></td>
                <td><%= sync.import_to_shop.shopify_domain&.remove(".myshopify.com") %></td>
                <td><%= sync.started_at&.strftime('%b %e, %l:%M %p') %></td>
                <td><%= sync.ended_at&.strftime('%b %e, %l:%M %p') %></td>
                <td><span class="tag green"><%= sync.status %></span></td>
                <td><%= link_to "View Report", shop_sync_path(sync), class: "button secondary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>
<section>
  <div class="column">
    <article>
      <div class="card columns four">
        <h5>Add Another Shop</h5>

        <p>Add a new shop to sync shopify data between both of them.</p>

        <p><%= link_to "Add Another Shop", new_related_shop_path, class: "button" %></p>
      </div>
      <div class="card columns four">
        <h5>Setup Auto-Sync</h5>

        <p>Start running syncs on a weekly, daily, or hourly basis.</p>

        <p><a href="https://github.com/shoppad/uptowncss/archive/master.zip" class="button download" target="_blank">Setup Auto-Sync</a></p>
      </div>
      <div class="card columns four">
        <h5>Update Personal Info</h5>

        <p>Change your contact information, timezone, or payment plan.</p>

        <p><a href="https://github.com/shoppad/uptowncss/" class="button download" target="_blank">Update Personal Info</a></p>
      </div>
    </article>
  </div>
</section>
