<section>
  <aside>
    <h2>Contact Information</h2>
    <p>Your contact information is for internal purposes only. It allows us to alert you when you're reaching your usage limit.</p>
  </aside>
  <article>
    <div class="card has-sections contact-info">
      <%= form_for @shop do |form| %>
        <div class="card-section">
          <div class="">
            <div class="form-group column one-half">
              <label class="form-label">First Name </label>
              <!-- <input name="first_name" type="text"> -->
              <%= form.text_field :first_name %>
            </div>
            <div class="form-group column one-half">
              <label class="form-label">Last Name </label>
              <!--  <input name="last_name" type="text"> -->
              <%= form.text_field :last_name %>
            </div>
          </div>
          <div class="">
            <div class="form-group column">
              <label class="form-label">Email Address </label>
              <!-- <input name="email" type="text"> -->
              <%= form.text_field :email %>
            </div>
          </div>
          <!-- <button type="submit">Submit Invitation</button> -->
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </article>
</section>
<section>
  <aside>
    <h2>Plans</h2>
    <p>If you have questions about which plan is right for you, feel free to <a href="">send us an email</a>, and we will answer any questions you have.</p>
    <h2>Upgrading?</h2>
    <p>Charges are prorated based on the difference in price and the number of days remaining in the billing cycle when changing between paid plans. <a href="https://help.shopify.com/en/manual/your-account/manage-billing/your-invoice/apps#app-prorating-upgrades-and-downgrades" target="_blank" rel="noopener noreferrer">Learn more</a>.</p>
  </aside>
  <article>
    <div class="card has-sections">
      <div class="plans">
        <div class="card-section">
          <div class="columns twelve plan-card">
            <div class="column two-thirds">
              <h3><strong>Basic</strong><span class="price">$2/mo.</span></h3>
              <ul class="details">
                <li>For users that only need the occassional manual sync between their shops.</li>
              </ul>
            </div>
            <div class="column one-third">
              <div class="plan-button"><button class="secondary">Select Plan</button></div>
            </div>
          </div>
        </div>
        <div class="card-section">
          <div class="columns twelve plan-card">
            <div class="column two-thirds">
              <h3><strong>Standard</strong><span class="price">$14/mo.</span></h3>
              <ul class="details">
                <li>For users that need automatic syncing between their shops.</li>
              </ul>
            </div>
            <div class="column one-third">
              <div class="plan-button"><button class="secondary">Select Plan</button></div>
            </div>
          </div>
        </div>
        <div class="card-section">
          <div class="columns twelve plan-card">
            <div class="column two-thirds">
              <h3><strong>Enterprise</strong><span class="price">$199/mo.</span></h3>
              <ul class="details">
                <li>For users that need customized syncing scripts which will require individual attention from our tech team. We'll get in touch to discuss what you need and a software developer from our team will work directly with you to make it happen.</li>
              </ul>
            </div>
            <div class="column one-third">
              <div class="plan-button"><button class="secondary">Select Plan</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
