<h1 class="title">All Sync Reports</h1>
<section>
  <article>
    <div class="card">
      <div class="overflow-container">
        <table class="results">
          <thead>
            <tr>
              <th>Exported From</th>
              <th>Imported To</th>
              <th>Started At</th>
              <th>Finished At</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= "412-test-exporter.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= "412-test-importer.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= (Time.now).strftime('%b %e, %l:%M %p') %></td>
              <td><%= (Time.now + rand(200).minutes).strftime('%b %e, %l:%M %p') %></td>
              <td><span class="tag yellow">In Progress</span></td>
              <td><button class="secondary">View Report</button></td>
            </tr>
            <tr>
              <td><%= "412-test-exporter.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= "412-test-importer.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= (Time.now).strftime('%b %e, %l:%M %p') %></td>
              <td><%= (Time.now + rand(200).minutes).strftime('%b %e, %l:%M %p') %></td>
              <td><span class="tag green">Success</span></td>
              <td><button class="secondary">View Report</button></td>
            </tr>
            <tr>
              <td><%= "412-test-exporter.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= "412-test-importer.myshopify.com".remove(".myshopify.com") %></td>
              <td><%= (Time.now).strftime('%b %e, %l:%M %p') %></td>
              <td><%= (Time.now + rand(200).minutes).strftime('%b %e, %l:%M %p') %></td>
              <td><span class="tag red">Failed</span></td>
              <td><button class="secondary">View Report</button></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>