<h1 class="title">All Sync Reports</h1>
<section>
  <article>
    <div class="card">
      <div class="overflow-container">
        <table class="results">
          <thead>
            <tr>
              <th>Exported From</th>
              <th>Imported To</th>
              <th>Started At</th>
              <th>Finished At</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @shop.shop_syncs.each do |sync| %>
              <tr>
                <td><%= sync.export_from_shop.shopify_domain.remove(".myshopify.com") %></td>
                <td><%= sync.import_to_shop.shopify_domain.remove(".myshopify.com") %></td>
                <td><%= sync.started_at.strftime('%b %e, %l:%M %p') %></td>
                <td><%= sync.ended_at.strftime('%b %e, %l:%M %p') %></td>
                <td><span class="tag green"><%= sync.status %></span></td>
                <td><%= link_to "View Report", shop_sync_path(sync), class: "button secondary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>