<h1 class="title">All Sync Reports</h1>
<section>
  <article>
    <div class="card">
      <div class="overflow-container">
        <table class="results">
          <thead>
            <tr>
              <th>Export From</th>
              <th>Import To</th>
              <th>Last Run At</th>
              <th>Next Run At</th>
              <th>Frequency</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @shop.autosync_runners.each do |autosync| %>
              <tr>
                <td><%= autosync.export_from_shop.shopify_domain.remove(".myshopify.com") %></td>
                <td><%= autosync.import_to_shop.shopify_domain.remove(".myshopify.com") %></td>
                <td><%= autosync.last_started_at.strftime('%b %e, %l:%M %p') %></td>
                <td><%= autosync.last_ended_at.strftime('%b %e, %l:%M %p') %></td>
                <td><%= autosync.frequency %></td>
                <td><button class="" style="margin-right:5px;">Edit</button><button class="warning">Delete</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>